body {
  background-color: #cccccc;
  background-image: url("/images/Tileable\ High\ Res\ Paper\ Image\ Preview.jpeg");
}
h1 {
  color: blue;
}
.img1 {
  border-radius: 20px;
}
#navbar {
  text-align: center;
}
